<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="SqlConnectionString" connectionString="Data Source =172.16.33.61; Initial Catalog = StagingWMSSAP; User id = SAP; Password = Saphana1.;" />
		<add name="PU_LIVE_DB_ConnectionString" connectionString="Server = saphana:30015; UserId = SYSTEM; Password = PeRf-Ume5_2o22; CS = PU_LIVE_DB" />
		<add name="SMELL_LIVE_DB_ConnectionString" connectionString="Server = saphana:30015; UserId = SYSTEM; Password = PeRf-Ume5_2o22; CS = SMELL_LIVE_DB" />
		<add name="FF_LIVE_DB_ConnectionString" connectionString="Server = saphana:30015; UserId = SYSTEM; Password = PeRf-Ume5_2o22; CS = FF_LIVE_DB" />
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
